{% extends "index.html" %}

{% block title %}
    Dashboard: Update Record
{% endblock %}

{% block content %}
    <div class="logo">
        <img src="/static/image/logov2.png" alt="PhilHealth Logo" width="80%">
        <div class="close">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/" id="dashboard-link">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    <span class="title">
                        View
                    </span>
                </a>
            </li>
            <li>
                <a href="/add" id="add-link">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                    <span class="title">
                        Add
                    </span>
                </a>
            </li>
            <li>
                <a href="/update" id="edit-link" class="fill">
                    <span class="material-symbols-outlined full">
                        edit
                    </span>
                    <span class="title-full">
                        Update
                    </span>
                </a>
            </li>
            <li>
                <a href="/mysql" id="sql-link">
                    <span class="material-symbols-outlined">
                        integration_instructions
                    </span>
                    <span class="title">
                        MySQL
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block additional_content %}
<div class="container right" style="background: rgba(255, 255, 255, 1); margin-right: 0px; width: 98%;">
    <div style="display: flex; justify-content: space-between; margin-left: 12rem; margin-right: 12rem; margin-bottom: 0px;">
        <button class="table-btn" data-table="member">Member Table</button>
        <button class="table-btn active" data-table="dependents">Dependents Table</button>
        <button class="table-btn" data-table="membertype">Member Type Table</button>
    </div>
    <div class="table-container">
        <table id="data-table">
            <thead id="table-head" class="attributes">
                <!-- Table headers will be inserted here -->
            </thead>
            <tbody id="table-body">
                <!-- Table data will be inserted here -->
            </tbody>
        </table>
    </div>
    <div class="inputBox">
        <input type="text" autocomplete="off" placeholder="Search Records.." id="userInput">
        <button type="submit" id="searchButton">Search</button>
    </div>
</div>
    <!-- <div class="table-container">
        <table>
            <thead>
                <tr>
                    {% if records %}
                        {% for key in records[0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                        <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        {% for value in record.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                        <td class="actions">
                            <form action="{{ url_for('edit_record') }}" method="get" style="display:inline;">
                                <input type="hidden" name="id" value="{{ record.id }}">
                                <input type="hidden" name="table" value="{{ table }}">
                                <button type="submit">Edit</button>
                            </form>
                            <form action="{{ url_for('delete_record') }}" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="{{ record.id }}">
                                <input type="hidden" name="table" value="{{ table }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 style="color: #999; font-size: 1.3rem; text-align: center;"> No records found. </h4>
        {% endif %}
    </div> -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const tableButtons = document.querySelectorAll('.table-btn');
        const searchButton = document.getElementById('searchButton');
        const userInput = document.getElementById('userInput');
        let currentTable = 'dependents';

        tableButtons.forEach(button => {
            button.addEventListener('click', function() {
                const tableName = this.getAttribute('data-table');
                currentTable = tableName;
                fetchTableData(tableName);
                tableButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
            });
        });

        searchButton.addEventListener('click', () => {
            const searchValue = userInput.value.trim().toLowerCase();
            if (searchValue) {
                searchAndHighlight(searchValue);
            }
        });

        function fetchTableData(tableName) {
            fetch(`/get_table_data/${tableName}`)
                .then(response => response.json())
                .then(data => {
                    const tableHead = document.getElementById('table-head');
                    const tableBody = document.getElementById('table-body');

                    // Clear existing table data
                    tableHead.innerHTML = '';
                    tableBody.innerHTML = '';

                    const id = data.primary_key;

                    if (data.data.length > 0) {
                        const columnNames = data.columns;
                        let headerRow = '<tr>';
                        columnNames.forEach(column => {
                            headerRow += `<td>${column}</td>`;
                        });
                        headerRow += `<td class="action" style="color:green;">Actions</td>`;
                        headerRow += '</tr>';
                        tableHead.innerHTML = headerRow;

                        data.data.forEach(row => {
                            let dataRow = '<tr>';
                            columnNames.forEach(column => {
                                dataRow += `<td>${row[column]}</td>`;
                            });
                            dataRow += `<td class="action">
                                    <span class="material-symbols-outlined edit" data-id="${row[id]}">
                                    edit
                                    </span>
                                    <span class="material-symbols-outlined delete" data-id="${row[id]}">
                                        delete
                                    </span>
                                </td>`
                            dataRow += '</tr>';
                            tableBody.innerHTML += dataRow;
                        });

                        const editSpans = document.querySelectorAll('.edit');
                        editSpans.forEach(span => {
                            span.addEventListener('click', function() {
                                const id = this.getAttribute('data-id');
                                editRecord(tableName, id);
                            });
                        });

                        const deleteSpans = document.querySelectorAll('.delete');
                        deleteSpans.forEach(span => {
                            span.addEventListener('click', function() {
                                const id = this.getAttribute('data-id');
                                deleteRecord(tableName, id);
                            });
                        });
                    }
                })
                .catch(error => console.error('Error fetching table data:', error));
        }

        function searchAndHighlight(searchValue) {
            const tableBody = document.getElementById('table-body');
            const rows = tableBody.getElementsByTagName('tr');
            let found = false;

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                if (cells[0] && cells[0].innerText.trim().toLowerCase() === searchValue) {
                    rows[i].scrollIntoView({ behavior: 'smooth', block: 'center' });
                    rows[i].style.backgroundColor = '#ffff99';
                    setTimeout(() => {
                        rows[i].style.backgroundColor = '';
                    }, 2000);
                    found = true;
                    break;
                }
            }

            if (!found) {
                alert('Record not found');
            }
        }

        function editRecord(tableName, id) {
            console.log(`Edit record with ID: ${id}`); 
            fetch(`/get_record/${tableName}/${encodeURIComponent(id)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success === false) {
                        throw new Error(data.message);
                    }
                    // Show a form with the record data to edit
                    const formContainer = document.createElement('div');
                    formContainer.setAttribute('class', 'form-content');
                    formContainer.innerHTML = `
                        <form id="editForm">
                            <p>EDIT INFORMATION</p>
                            ${Object.keys(data).map(key => `
                                <div class="input-container">
                                    <label for="${key}" class="edit-label">${key}</label>
                                    <input type="text" id="${key}" name="${key}" value="${data[key]}" class="edit-input">
                                </div>
                            `).join('')}
                            <div class="edit-btn-container">
                                <button type="submit">Update</button>
                                <button type="button" onclick="this.parentElement.parentElement.remove()">Cancel</button>
                            </div>
                        </form>
                    `;
                    document.body.appendChild(formContainer);

                    document.getElementById('editForm').addEventListener('submit', function(event) {
                        event.preventDefault();
                        const formData = new FormData(event.target);
                        const updateData = {};
                        formData.forEach((value, key) => {
                            updateData[key] = value;
                        });

                        fetch(`/update_record/${tableName}/${encodeURIComponent(id)}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(updateData)
                        }).then(response => response.json())
                          .then(result => {
                              if (result.success) {
                                  alert('Record updated successfully');
                                  formContainer.remove();
                                  fetchTableData(tableName);
                              } else {
                                  alert('Failed to update record');
                              }
                          });
                    });
                })
                .catch(error => console.error('Error fetching record data:', error));
        }


        // Fetch initial data for dependents table
        fetchTableData('dependents');
    });
</script>


<style>
    .table-container {
        height: 500px;
        overflow-y: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
        margin-top: 0px;
        border-color: gray;
        overflow-y: auto;
        height: 100%;
    }

    thead, tbody {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-width: 0px;
        border-color: gray;
    }

    .attributes{
        background: green;
        color: white;
        text-align: center;
    }

    .action {
        background: white;
        color: #55a654;
        border: 0px;
    }

    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f8f9fa;
    }

    td {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .actions {
        white-space: nowrap;
    }

    .actions form {
        display: inline;

    }
</style>
{% endblock %}

